.searchBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 1rem 1rem 1rem;
  span {
    font-weight: 600;
    background-color: #2878aa;
    color: white;
    border-radius: 25%;
    padding: 0 0.3rem;
    line-height: 1.25;
    font-size: 18px;
  }
  input {
    width: 250px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #ccc;
    outline: none;
    margin: 1rem;
    padding: 0.5rem;
    &:focus {
      border: 1px solid #56b4ef;
      box-shadow: 0px 0px 3px 1px #c8def0;
    }
  }
}
